---
import { supabase } from "@/lib/supabase";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/patient/Header.astro";

const { cookies } = Astro;
const { id } = Astro.params;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
    return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
});

if (error) {
    cookies.delete("sb-access-token", {
        path: "/",
    });
    cookies.delete("sb-refresh-token", {
        path: "/",
    });

    return redirect("/");
}

const { data: appintmentData } = await supabase
    .from("appointments")
    .select()
    .eq("id", id)
    .eq("patient_id", data?.user?.id)
    .single();

const patientName = data?.user?.user_metadata?.name;
const patientId = data?.user?.id;
const doctorId = appintmentData?.doctor_id;
const appointmentId = appintmentData?.id;
const time = appintmentData?.time;
const formattedTime = new Date(time).toISOString().slice(0, 16);
const purpose = appintmentData?.purpose;
---

<BaseLayout>
    <div class="container mx-auto px-4">
        <Header title="Edit Appointment" />
        <form
            id="appointmentForm"
            action="/api/appointment/update"
            method="post"
            class="container mx-auto mt-8"
        >
            <input
                type="hidden"
                id="appointmentId"
                name="appointment_id"
                value={appointmentId}
            />
            <input
                type="hidden"
                id="doctorId"
                name="doctor_id"
                value={doctorId}
            />
            <input
                type="hidden"
                id="patientId"
                name="patient_id"
                value={patientId}
            />
            <label for="patientName" class="block">Patient Name:</label>
            <input
                type="text"
                id="patientName"
                value={patientName}
                disabled
                class="cursor-not-allowed bg-gray-300 block border border-gray-300 rounded px-4 py-2 mt-2 w-full"
            /><br />
            <label for="time" class="block mt-4"
                >Preferred Appointment Time:</label
            >
            <input
                type="datetime-local"
                id="time"
                name="time"
                value={formattedTime}
                required
                class="block border border-gray-300 rounded px-4 py-2 mt-2 w-full"
            /><br />

            <label for="purpose" class="block mt-4">Appointment Purpose:</label>
            <input
                type="text"
                id="purpose"
                name="purpose"
                value={purpose}
                required
                class="block border border-gray-300 rounded px-4 py-2 mt-2 w-full"
            /><br />

            <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
                >Update Appointment</button
            >
        </form>
    </div>
</BaseLayout>
